<h1>Welcome to IVR calls using twilio</h1>
<p><%= link_to "Show All Services", services_path %></p>
<p><%= link_to "Show All Customers", customers_path %></p>
<p><%= link_to "Show All Customers data", customer_services_path %></p>
